/* Custom scrollbar styles */

/* -webkit-scrollbar for chrome, not needed for firefox*/
.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff00; /* Background of the scrollbar track */
  border-radius: 6px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #575757; /* Background of the scrollbar thumb */
  border-radius: 2px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #777777; /* Background of the scrollbar thumb on hover */
}

/* Hide scrollbar if not needed */
.custom-scrollbar {
  overflow: hidden; /* Hide scrollbar */
}
